<!DOCTYPE html>
<html>
<head>
  <title>BlueVelvet</title>
  <%= stylesheet_link_tag    "blue_velvet/application", :media => "all" %>
  <%= javascript_include_tag "blue_velvet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
