<div id="error">
  <h2>Attribute Not Found</h2>
  <p>
    We're sorry, but the requested attribute <strong><%= attribute_name %></strong>
    could not be found on this Facebook page. Either it has not been filled in yet, 
    or the page author has opted not to publicize its contents.
  </p>
</div>
