---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/666?access_token=109898403861%7CDGdiK3tay_jZnHKYPqPBeU2fkRA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"bb9c337e92fdf93dfe26b3b7cc6607f84c7c7bdd"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"666","name":"Xi Wang","first_name":"Xi","last_name":"Wang","username":"xiwang427","gender":"female","locale":"en_US"}'
  recorded_at: Sun, 10 Jun 2012 19:13:20 GMT
recorded_with: VCR 2.1.0
